@charset "UTF-8";

/* 回答はここに書いてね */
.q3_contents {
  width: 100%;
  border: 1px solid #dedede;
}
.q3_contents th {
  color: #fff;
  background-color: #2244aa;
  padding: 10px;
  border: 1px solid #dedede;
  line-height: 24px;
  font-size: 18px;
}
.q3_contents td {
  text-align: center;
  border: 1px solid #dedede;
  padding: 10px; 
}
.q3_contents tr:nth-child(odd){
  background-color: #ecf1f2;
}
.q3_contents tr:last-child {
  border-top: dashed #000 2px;
}
/* 回答はここに書いてね */
